<h1>Search</h1>

<%= form_tag search_path, method: :get do %>
  <%= text_field_tag :url, params[:url] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<h1>Archive a new website</h1>

<%= form_tag "create", method: :post do %>
  <%= label_tag :url, "URL:" %>
  <%= text_field_tag :url, params[:url] %>
  <%= submit_tag "Archive" %>
<% end %>

<h1>Recently archived websites</h1>

<ul>
  <% @last_archived_websites.each do |website| %>
    <div>
      <h2>URL <%= website.url %></h2>
      <p>Archived at: <%= website.archived %></p>
    </div>
  <% end %>
</ul>